 #introduction{ /*introduction*/
  font-size: 20px ;
  border: solid 1px black;
  padding: 25px;
    margin-left: 0%;
    font-size: 30px;
    text-align: center;

}
#bloc1{
    grid-area: le coin thermale ;
    border:solid 1px black;

    font-size: 25px;
}
#bloc2{
    grid-area: les massages aux huiles essentielles;
    border:solid 1px black;
    font-size: 25px;
}
#bloc3{
    grid-area: le coin détente;
    border:solid 1px black;
    font-size: 25px;
}
#bloc4{
    grid-area: le thêatre;
    border: solid 1px black;
    font-size: 25px;
}
#bloc5{
    grid-area: opera;
    border: solid 1px black;
    font-size: 25px;
}
#bloc6{
    grid-area: orchestre;
    border: solid 1px black;
    font-size: 25px;
}
#grid-container{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 400px 400px 400px;
    grid-template-areas: 
    "le coin thermale les massages aux huiles essentielles le coin détente"; 
    width: 80%;
    margin-left: 80px;
    margin-top: 50px;
    justify-content: space-between;
}
.first{
    padding: 10px;
    font-style:italic;
    font-size: 30px;
    text-align: center;
}
h2{
    padding-left: 150px;
    text-align: center;
    font-size: 25px;
}
.picture{
    width: 75%;
}